<%- include('partials/header.ejs') %>
        <h1>Earth</h1>
<%- include('partials/nav.ejs') %>
        <div class="flex">
                <img class="planet" src="img/earth.jpg" alt="The Solar System" />
                <div class="info">
                        <br>
                        <p>The Earth is the planet that we live on and it's the third planet from the Sun. 
                        The Earth is situated between Venus and Mars in our solar system. Also, Earth is the 
                        fifth largest planet in our solar system. The Earth is the only planet in our solar 
                        system with liquid water on its surface.</p>
                </div>
        </div>
<%- include('partials/footer.ejs') %>