<%- include('partials/header.ejs') %>
        <h1>Mars</h1>
<%- include('partials/nav.ejs') %>
        <div class="flex">
                <img class="planet" src="img/mars.jpg" alt="mars" />
                <div class="info">
                        <br>
                        <p>Mars is the fourth planet from the Sun in our solar system. 
                        Mars is characterized by having a cold, dusty, and desert-like environment. 
                        Mars has ice caps as well as previously active volcanoes. Mars is also one of 
                        the most explored bodies in our solar system and the only planet that we have sent land rovers to.</p>
                </div>
        </div>
<%- include('partials/footer.ejs') %>