<%- include('partials/header.ejs') %>
        <h1>Mercury</h1>
<%- include('partials/nav.ejs') %>
        <div class="flex">
                <img class="planet" src="img/mercury.jpg" alt="mercury" />
                <div class="info">
                        <br>
                        <p>Mercury is the smallest planet in our solar system and it's the closest planet to the Sun. 
                        Mercury is only slightly larger than the Earth's moon. Mercury is also the fastest orbiting 
                        planet around the Sun and the length of a year on Mercury would be only 88 Earth days. Mercury 
                        is named after the Roman God of speed.</p>
                </div>
        </div>
<%- include('partials/footer.ejs') %>