<%- include('partials/header.ejs') %>
        <h1>Venus</h1>
<%- include('partials/nav.ejs') %>
        <div class="flex">
                <img class="planet" src="img/venus.jpg" alt="venus" />
                <div class="info">
                        <br>
                        <p>Venus is similar in size and structure to our planet Earth. For this reason, 
                        it has been considered to be Earth twins although it varies greatly from our home planet Earth. 
                        The atmosphere of Venus is toxic and filled with carbon dioxide and covered in gaseous sulfuric acid. 
                        Venus is the hottest planet in our solar system.</p>
                </div>
        </div>
<%- include('partials/footer.ejs') %>