html{
    min-height: 100%;
    overflow: auto;
}

body{
    text-align: center;
    margin: 0;
    color: white;
    background-color: black;
    overflow: hidden;
}

a{
    display: inline-block;
    font-size: medium;
    text-decoration: none;
    color: white;
    margin: 1% 3%;
    font-weight: 700;
    letter-spacing: 1px;
}

a:hover{
    color: lightblue;
}

#system{
    width: 100%;
    opacity: .5;
}

.planet{
    border: 5px solid white;
    width: 45%;
}

.info{
    width: 45%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 1% 0;
    color: lightgray;
}

.flex{
    width: 60%;
    display: flex;
    margin: 5% auto 0;
    justify-content: space-between;
}